*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.hidden {
    opacity: 0;
    transition: 0.1s;
}

.show{
    opacity: 1;
    transition: 0.1s;
}

.wrapped{
    width: 100%;
    height: 100vh;
    min-width: 850px;
    background-color: rgb(185, 20, 80);
    overflow: hidden;
}

.title {
    
    color: white;
    text-align: center;
}

.dati-input{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10 px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    height: 40%;
}

.btn {
    padding: 10px 20px; /* Aumenta il padding per rendere più grandi i bottoni */
    font-size: 16px; /* Aumenta la dimensione del testo */
    border-radius: 5px; /* Opzionale, per arrotondare gli angoli */
    cursor: pointer; /* Mostra un cursore pointer quando ci si passa sopra */
    background-color: #4CAF50; /* Colore di sfondo */
    color: white; /* Colore del testo */
    border: none; /* Rimuove il bordo di default */
    transition: background-color 0.3s; /* Aggiunge una transizione al colore di sfondo */
}

.dati-input select {
    height: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
}

/* 
.dati-input input[type="text"], .dati-input input[type="number"], .dati-input select {
    border: solid 1px rgb(185, 20, 80);
    border-radius: 5px;
} */

.dati-input select {
    height: 30px;
}



/* .dati-input, .dati-input input, .dati-input select {
    display: block;
    margin: 0 auto 10 px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
} */

/* .dati-input label, .dati-input input, .dati-input select {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
} */

#biglietto {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}


table {
    border-collapse: separate;
    text-indent: initial;
    box-sizing: border-box;
}


